<mat-grid-list cols="3" rowHeight="2:1">
  @for (fruit of fruits(); track fruit.id) {
  <mat-grid-tile>
    <mat-card class="fruit-card">
      <mat-card-header>
        <mat-card-title>{{ fruit.name }}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <h1>{{fruit.image}}</h1>
        <p><strong>Price:</strong> {{ fruit.price | currency}}</p>
      </mat-card-content>
      <button mat-raised-button (click)="addToCart(fruit)">Buy</button>
    </mat-card>
  </mat-grid-tile>
  }

  @empty {
  <mat-grid-tile>
    <mat-card class="fruit-card">
      <mat-card-content>
        <h2>No fruits found</h2>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  }
</mat-grid-list>
